<app-navbar></app-navbar>
<p>{{ fromChild }}</p>
<p>{{ displayedMsg }}</p>
<!-- Property binding -->
<img [src]="src" />
<!-- Conditional Class binding -->
<!-- this <p> will have "text-red" class applied only if isRed variable is true -->
<p [class.text-red]="isRed">This text color is based on conditions</p>
<!-- Style binding -->
<p [style.color]="isRed ? 'red' : 'blue'">Style binding text</p>
<!-- Event handling -->
<!-- #username is a reference to input element -->
<input
  (keyup.enter)="onKeyUp(username.value)"
  #username
  placeholder="Check Console after pressing enter"
/>
<br />
<!-- Easier way to assign the input value to local variable using Forms Module -->
<!-- To use this, you have to import FormsModule in app.modules.ts -->
<input
  [(ngModel)]="userName"
  (keyup.enter)="showUsername()"
  placeholder="Check Console after pressing enter"
/>
<!-- msgEvent is defined in postComponent which is emitted by eventEmitter -->
<app-post
  [fromParent]="parentMessage"
  (msgEvent)="receivedMsg($event)"
></app-post>
<br />
<!-- Button for routing -->
<!-- we can pass query params as objects using queryParams property/attribute -->
<button
  routerLink="/task1"
  routerLinkActive="active"
  [queryParams]="{ page: 1 }"
>
  Goto Live Form
</button>
<button routerLink="/" routerLinkActive="active">Goto Home</button>
<!-- using router to navigate programmatically or on any event -->
<button (click)="onClickNavigate()">Click me</button>
<router-outlet></router-outlet>

<button (click)="newPost()">Add New Post</button>
<!-- ngFor Directive is used to traverse an array and show it in DOM (just like map in ES6)-->
<!-- ngIf is used to conditional render elements in DOM (just like ternary operator) -->
<div *ngIf="postArr.length > 0; else noData">
  <ul>
    <li *ngFor="let post of postArr; let i = index">
      {{ post }} <button (click)="deletePost(i)">Delete</button>
    </li>
  </ul>
</div>

<!-- ng-template to show when there is no data in postArr -->
<ng-template #noData>
  <p>There are no posts to show.</p>
</ng-template>

<!-- ngSwitchCase is the switch case for angular-->
<div>
  <button (click)="setFormStatus('1')">Form 1</button>
  <button (click)="setFormStatus('2')">Form 2</button>
  <button (click)="setFormStatus('3')">Form 3</button>
</div>
<br />
<div [ngSwitch]="formStatus">
  <p *ngSwitchCase="'1'">Form 1</p>
  <p *ngSwitchCase="'2'">Form 2</p>
  <p *ngSwitchCase="'3'">Form 3</p>
  <p *ngSwitchDefault>Default Form</p>
</div>

<!-- *ngStyle Directive is used for assigning the conditional css on elements -->
<h1
  [ngStyle]="{
    color: headingActive ? 'red' : 'black',
    textTransform: headingActive ? 'uppercase' : 'lowercase'
  }"
>
  This is example for ngStyle
</h1>

<!-- *ngClass directive works the same way as ngStyle -->
<h2
  [ngClass]="{
  'bg-blue':headingActive,
  'blue-border':headingActive,
}"
>
  This is example for ngClass
</h2>

<button (click)="setHeadingActive(!headingActive)">Click to toggle</button>

<!-- Task 2 -->
<app-task2></app-task2>

<!-- Pipes in angular -->
<h2>Pipes</h2>
<!-- Number pipe is used to make a number more readable -->
<p>{{ cnt | number }}</p>
<!-- we can use number pipe to limit the decimal points for a decimal number -->
<!-- we have to specify some arguments for number which will be like this -->
<!-- number_of_digits.min_decimal_cnt_range - max_decimal_cnt_range -->
<p>{{ deCnt | number : "1.2-2" }}</p>
<!-- Date pipe -->
<p>{{ todayDate | date : "short" }}</p>
<!-- JSON pipe is used to convert objects into json -->
<p>{{ myObj | json }}</p>

<!-- Custom pipe -->
<p>{{ myObj.name | greet }}</p>
<!-- Custom pipe with arguments -->
<p>{{ tempTxt | summary : 30 }}</p>
<br />
<hr />
<!-- Angular template driven forms -->
<h1>Angular Template Driven Forms</h1>
<!-- ngForm directive is used for template driven forms and it comes with  FormsModule  -->
<!-- ngForm creates a new instance of form group class -->
<!-- ngSubmit directive is used for submitting the forms -->
<form class="form-container" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label>Full name</label>
    <!-- To create a new instance of form control we use ngModel directive -->
    <!-- Note: It requires a name property! -->
    <!-- Angular automatically assigns some classes to html elements so we can use those classes to add css for those events -->
    <!-- For example we can make borders red if the input is invalid and the classname for invalid inputs is "ng-invalid" so you can write css for these classes -->
    <!-- Another way is to use ng class directive -->
    <input
      type="text"
      placeholder="Enter your Full name"
      ngModel
      name="fullName"
      #fullName="ngModel"
      (change)="onChange(fullName)"
      required
      [ngClass]="{ 'is-invalid': fullName.touched && fullName.invalid }"
    />
    <!-- ngModel directive have 2 properties called valid and invalid which will be true and false depending on the validity of input value -->
    <!-- we dont want to show the error on first reload so we will check if its touched and invalid then only show the error -->
    <!-- <p class="alert" *ngIf="fullName.touched && fullName.invalid">
      Fullname is required!
    </p> -->
  </div>
  <div class="form-group">
    <label>Email</label>
    <!-- Pattern is the default property of HTML -->
    <input
      type="email"
      placeholder="Enter your Email"
      ngModel
      name="Email"
      pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
      #email="ngModel"
      required
    />
    <!-- Errors object contains the type of error(if there are any) so we can customize our error messages-->
    <div *ngIf="email.errors">
      <p class="alert" *ngIf="email.touched && email.errors['required']">
        Email is required!
      </p>
      <p class="alert" *ngIf="email.touched && email.errors['pattern']">
        Invalid Email!
      </p>
    </div>
  </div>
  <div class="form-group">
    <label>Address</label>
    <textarea
      type="text"
      placeholder="Enter your Address"
      ngModel
      name="Address"
      cols="10"
      rows="4"
      required
      #address="ngModel"
      [ngClass]="{ 'is-invalid': address.touched && address.invalid }"
    ></textarea>
  </div>
  <!-- the button will be disabled if form is invalid -->
  <button type="submit" [disabled]="f.invalid">Submit</button>
</form>
<br />
<hr />
<h1>Reactive Forms</h1>
<form class="form-container" [formGroup]="form" (ngSubmit)="onReactiveSubmit()">
  <div class="form-group">
    <label>Full name</label>
    <input
      type="text"
      placeholder="Enter your Full name"
      formControlName="fullName"
    />
    <!-- Use getter names for properties like errors,touched etc -->
    <div *ngIf="fullname.touched && fullname.errors">
      <p class="alert" *ngIf="fullname.errors['required']">
        Fullname is required!
      </p>
      <p class="alert" *ngIf="fullname.errors['minlength']">
        Minimum length for name must be 2!
      </p>
    </div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <!-- Pattern is the default property of HTML -->
    <input
      type="email"
      placeholder="Enter your Email"
      formControlName="email"
    />
    <div *ngIf="Email.touched && Email.errors">
      <p class="alert" *ngIf="Email.errors['required']">Email is required!</p>
      <p class="alert" *ngIf="Email.errors['pattern']">Invalid email!</p>
    </div>
  </div>
  <div formGroupName="contactDetails">
    <div class="form-group">
      <label>Address</label>
      <textarea
        type="text"
        placeholder="Enter your Address"
        name="Address"
        cols="10"
        rows="4"
        formControlName="address"
      ></textarea>
      <div *ngIf="GetAddress.touched && GetAddress.errors">
        <p class="alert" *ngIf="GetAddress.errors['required']">
          Address is required!
        </p>
      </div>
    </div>
    <div class="form-group">
      <label>Contact No</label>
      <input
        type="number"
        placeholder="Enter your Contact No"
        formControlName="contactNo"
      />
      <div *ngIf="GetContact.touched && GetContact.errors">
        <p class="alert" *ngIf="GetContact.errors['required']">
          Contact No is required!
        </p>
        <p class="alert" *ngIf="GetContact.errors['pattern']">
          Invalid Contact!
        </p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Skills</label>
    <input
      type="text"
      placeholder="Enter your Skills"
      #skill
      (keyup.enter)="addSkills(skill)"
    />
    <ul>
      <!-- we can get all the formcontrol elements of skills from GetSkills.controls -->
      <li *ngFor="let skill of GetSkills.controls; let i = index">
        {{ skill.value }}
        <button (click)="deleteSkill(i)">x</button>
      </li>
    </ul>
  </div>
  <!-- Custom validator field -->
  <div class="form-group">
    <label>Username</label>
    <input
      type="text"
      placeholder="Enter your username"
      formControlName="username"
    />
    <!-- Use getter names for properties like errors,touched etc -->
    <div *ngIf="GetUserName.touched && GetUserName.errors">
      <p class="alert" *ngIf="GetUserName.errors['required']">
        Username is required!
      </p>
      <p class="alert" *ngIf="GetUserName.errors['noSpaceValidator']">
        Username can't contain spaces!
      </p>
    </div>
  </div>

  <!-- the button will be disabled if form is invalid -->
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
